.gpaContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.gpa-container {
  width: 30%;
  border: 3px solid white;
  border-radius: 2rem;
}
.head-gpa {
  text-align: center;
}

