@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --color1: #9266f7;
  --color2: #0e0f1a;
  --color3: #0b0c15;
  --color4: #1c1f2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: var(--color1);
}