.navBar {
  display: flex;
  padding: 20px;
  border-bottom: 3px solid var(--color3);
  background: repeating-linear-gradient(322deg, #0B0C15 0, #0B0C15 15%, #0e0f1a 0, #0e0f1a 20%) 0 / 45px 20px;
  gap: 50%;
}

.search {
  padding: 10px;
  padding-left: 40px;
  width: 50%;
  background-color: var(--color2);
  outline: none;
  color: white;
  border: 3px solid var(--color3);
  border-radius: 20px;
  background-image: url(./magnifying-glass-solid.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 10px 10px;
  background-color: var(--color4);
  transition: all 0.3s;
}

.search:hover {
  transform: scale(1.010);
}

.rightSide {
  display: flex;
  align-self: center;
  gap: 25px;
}

.notification {
  align-self: center;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s;
}

.notification:hover {
  transform: scale(1.1);
}

.userPic {
  width: 45px;
  border: 4px solid var(--color4);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.userPic:hover {
  transform: scale(1.1);
}